body{
    margin: 0;
}

h1{
    font-size: 4em;
    margin: 0;
    padding: .3em;
}

.top-container{
    background-color: #232946;
    color: #fffffe;
     height: 110vh;
}

.top-inner{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}

.title, .inner-box{
    width: 50%;
}

.title{
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.title > h2{
    font-size: 5em;
}

.inner-box{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.box{
    width: 30%;
    height: 20vh;
    background-color: #eebbc3;
    color: #232946;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.bottom__inner{
    width: 90%;
    display: flex;
    margin: 0 auto;
    gap: 3em;
}

.bottom-container{
    margin-top: 10em;
    height: 100vh;
}


.member-card{
    box-shadow:0 0 10px #6b6969;
    width: 25%;
    text-align: center;
    padding: 3em;
}

.member-card > h3{
    font-size: 2em;
    margin: 0px;
    margin-bottom: 2em;
}

.member-card > a{
    padding: 1em;
    display: block;
    width: 100%;
    border: solid;
    transform: translateX(-11%);
    text-decoration: none;
}
