.tutorial-result > span{
    display: flex;
    flex-direction: column;
}

.tutorial-result > span > h1{
    text-decoration: overline;
}

.tutorial-result > span > h2{
    text-decoration: line-through;
}


.tutorial-result > span > h3{
    font-size: 1em;
    text-decoration: underline;
}

.tutorial-result > span > h4{
    font-size: 1em;
    margin-left: 0;
    text-decoration: underline overline;
}

.copy{
    cursor: copy;
    font-size: 2em;
}

.default{
    cursor: default;
    font-size: 2em;
}

.grab{
    cursor: grab;
    font-size: 2em;
}

.help{
    cursor: help;
    font-size: 2em;
}

.no-drop{
    cursor: no-drop;
    font-size: 2em;
}

.none{
    cursor: none;
    font-size: 2em;
}

.pointer{
    cursor: pointer;
    font-size: 2em;
}

.progress{
    cursor: progress;
    font-size: 2em;
}

.cursor-code, .visibility-code{
    font-size: 1.7em;
}

.visibility-code{
    font-size: 1.5em;
}

.selectable{
    font-size: 2em;
}

.unselective{
    user-select: none;
    font-size: 2em;
}

.keyframe{
    color: #fff;
    background-color: #13cd91;
    width: 60%;
    text-align: center;
    padding: 1em 0;
    font-weight: bold;
    font-size: 1.5em;
    animation: gone 5s infinite;
}

@keyframes gone {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-800px);
    }
}
